{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-administration">
        <h2>Administration zone</h2>
        <div class="administration-projects">
            <h3>Manage projects ({{ projects|length }})<a href="#modal-add-project" rel="modal:open"><i
                            class="fas fa-plus"></i></a></h3>
            <div class="administration-project-list-container">
                {% for project in projects %}
                    <div class="card" style="width: 18rem;">
                        <img src="{{ asset('assets/bgsmall.jpg') }}" class="card-img-top"
                             alt="image {{ project.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.title }}</h5>
                            <p class="card-text">{{ project.content }}</p>
                            <a href="#" class="btn btn-primary">Go to project</a>
                            <div class="administration-button-container-project">

                                <div class="administration-button-edit"><a href="#modal-project" rel="modal:open"><i
                                                class="fas fa-pen"></i> </a></div>
                                <div class="administration-button-delete"><i class="far fa-times-circle"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        // $('.administration-button-edit').on("click", function () {
        // const currentId = $(this).find(".administration-current-project-id").text();
        // const currentTitle = $(this).find(".administration-current-project-title").text();
        // const currentCategory = $(this).find(".administration-current-project-category").text();
        // $('.administration-modal-project-current-id').val(currentId);
        // $('.administration-modal-project-current-title').val(currentTitle);
        // $('.administration-modal-project-current-category').val(currentCategory);
        // });
        //
        // $(function () {
        // const urlBase = "/admin/update";
        // $('#modal-project form').submit(function (event) {
        // event.preventDefault();
        // $.ajax({
        // type: "POST",
        // url: urlBase,
        // data: $(this).serializeArray(),
        // success: function (data) {
        // let projectTile = '.administration-project-list-container .project-' + data.id;
        // $(projectTile + ' .administration-current-project-title').text(data.title);
        // $(projectTile + ' .administration-current-project-category').text(data.category);
        //
        // $('#modal-project form').hide();
        // $('.administration-title-modals').hide();
        // $('#ajax-success-div').css("display", "inline-block");
        // $('.close-modal').on("click", function () {
        // $('#modal-project form').show();
        // $('#ajax-success-div').css("display", "none");
        // })
        // },
        // error: function (response) {
        // console.log(response.responseText)
        // }
        // });
        // });
        // });
        //
        // $(function () {
        // const urlBase = "/admin/create";
        // $('#modal-add-project form').submit(function (event) {
        // event.preventDefault();
        // $.ajax({
        // type: "POST",
        // url: urlBase,
        // data: $(this).serializeArray(),
        // success: function (data) {
        // $('#modal-add-project form').hide();
        // $('.administration-title-modals').hide();
        // $('#ajax-success-div-add').css("display", "inline-block");
        // $('.close-modal').on("click", function () {
        // $('#modal-add-project form').show();
        // $('#ajax-success-div').css("display", "none");
        // })
        // },
        // error: function (response) {
        // console.log(response.responseText)
        // }
        // });
        // });
        // });
    </script>
{% endblock %}
